<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="ISO-8859-1">
	<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta
	content="width=device-width, intial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/js/bootstrap.js}"></script>
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>
</head>