<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:insert="components/head.html :: header">
        <title>Demo Request</title>
    </head>
    <body>
        <div th:if="${error}">
            <h1>Error!</h1>
        </div>
        <div th:unless="${error}">
        <a href="/" class="btn btn-secondary">Regresar</a>
            <table>
                <thead>
                    <th>Correlativo</th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Borrar</th>
                    <th>Modificar</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>*</label>
                        </td>
                        <td>
                            <label  th:text="${demo.idDemo}"></label>
                        </td>
                        <td>
                            <label th:text="${demo.nombreDemo}"></label>
                        </td>
                        <td>
                            <a th:href="@{'/demo-client/del/' + ${demo.idDemo} }" class="btn btn-danger">Eliminar</a>
                        </td>
                        <td>
                            <form th:object="${demoU}" th:action="@{/demo-client/modify}" method="GET">
                            <input type="hidden" th:value="${demo.idDemo}" name="idDemo">
                            <input type="hidden" th:value="${demo.nombreDemo}" name="nombreDemo"> 
                            <input type="submit" class="btn btn-warning" value="modificar">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>