<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="components/head.html :: header">
<title id="title">Demo</title>
</head>
<body>
	<div>
		<form th:action="@{/demo-client/search}" id="search-form" method="GET"
			class="form-control">
			<label>ID</label> <input type="text" name="idDemo"
				placeholder="Buscar..."> <input type="submit"
				class="btn btn-primary" value="Buscar">
		</form>
	</div>
	<div>
	 <a th:href="@{/demo-client/new}" class="btn btn-primary">Crear demo</a>
	</div>
</body>
</html>